    <table>
        <tr>
            <th>Linje</th>
            <th>Destinasjon</th>
            <th>Avgang</th>
        </tr>

        {% for departure in departures %}
        <tr>
            <td class="linenumbercol">
                <div class="lineNumberBox" style='background: #{{ departure['line_color'] }}'>{{ departure['line_name'] }}</div>
            </td>
            <td>{{ departure['destination'] }}</td>
            <td class="departurecol">{{ departure['departure_time'] }}</td>
        </tr>
        {% endfor %}

    </table>
